services:
  resume:
    # image: ghcr.io/mai0313/resume:latest
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: runtime
    env_file:
      - .env
    command:
      - yarn
      - preview
      - --host=0.0.0.0
      - --port=3000
    ports:
      - 3000:3000
    pull_policy: always
    restart: always
