# This workflow finds which files were changed, prints them,
# and runs `pre-commit` on those files.

# Inspired by the sktime library:
# https://github.com/alan-turing-institute/sktime/blob/main/.github/workflows/test.yml

name: Code Quality Check

on:
  pull_request:

permissions: write-all

jobs:
  code-quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Disable SSL Verify
        run: git config --global http.sslVerify false

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: |
          yarn install

      - name: Prettier and Eslint Check
        run: |
          yarn format:nofix
          yarn lint:nofix
