name: Publish GitHub Pages

on:
  push:
    branches:
      - main
      - master
    tags:
      - v*

permissions: write-all

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    # container: catthehacker/ubuntu:act-20.04  # Uncomment it if you use it on Gitea

    steps:
      - name: Disable SSL Verify
        run: git config --global http.sslVerify false

      # - name: Setup MTK Certification
      #   uses: https://gitea.mediatek.inc/actions/mtk-cert-action@v1.2.0

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup node
        uses: actions/setup-node@v6

      - name: Deploy website
        env:
          VITE_WEBSITE_TITLE: Mai
          VITE_RESUME_FILE: example.yaml
          VITE_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VITE_ROOT_PATH: /${{ github.event.repository.name }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "<41898282+github-actions[bot]@users.noreply.github.com>"
          yarn install
          yarn build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./dist"

      - name: Publish to GitHub Pages
        uses: actions/deploy-pages@v4
